@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-dark: #192a33;
  --color-bg-light: #1f3640;
  --color-gray: #a8bec9;
  --color-gray-dark: #7a8991;
  --color-yellow: #f2b238;
  --color-yellow-dark: #cd8d16;
  --color-blue: #30c4be;
  --color-blue-dark: #128c89;

  --shadow-y: 6px;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
body {
  background-color: var(--color-bg-dark);
  color: var(--color-gray);
}

.App {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}
.container {
  max-width: 450px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem 1rem;
}

.bg-yellow {
  background-color: var(--color-yellow);
  color: var(--color-bg-dark);
}
.bg-blue {
  background-color: var(--color-blue);
  color: var(--color-bg-dark);
}

.text {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.25rem;
}
.text-2xl {
  font-size: 1.725rem;
}
.text-light {
  color: var(--color-gray-dark);
}
.text-blue {
  color: var(--color-blue);
}
.text-yellow {
  color: var(--color-yellow);
}

.bg-blue.text-light,
.bg-blue .text-light,
.bg-yellow.text-light,
.bg-yellow .text-light,
.bg-light.text-light,
.bg-light .text-light {
  color: var(--color-bg-light);
}

.btn {
  background-color: var(--color-gray);
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 var(--shadow-y) 0 var(--color-gray-dark);
  margin-bottom: 8px;
  display: inline-block;
  color: var(--color-bg-light);
}
.btn:hover {
  --shadow-y: 8px;
  transform: translateY(-2px);
}

.box__shadow__2 {
  box-shadow: 0 var(--shadow-y) 0 var(--color-gray-dark);
}
.btn:active {
  transform: translateY(2px);
  --shadow-y: 4px;
}
.btn-sm {
  --shadow-y: 4px;
}
.btn-sm:hover {
  --shadow-y: 6px;
}
.btn-sm:active {
  --shadow-y: 3px;
}

.btn-yellow {
  background-color: var(--color-yellow);
  box-shadow: 0 var(--shadow-y) 0 var(--color-yellow-dark);
}

.btn-blue {
  background-color: var(--color-blue);
  box-shadow: 0 var(--shadow-y) 0 var(--color-blue-dark);
}

.shadow-gray {
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}
.shadow-blue {
  box-shadow: 0 8px 0 var(--color-blue-dark);
}
.shadow-yellow {
  box-shadow: 0 8px 0 var(--color-yellow-dark);
}

.icon {
  display: inline-block;
}
.icon svg {
  fill: var(--color-gray);
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.icon-sm svg {
  width: 30px;
  height: 30px;
}
.icon-lg svg {
  width: 65px;
  height: 65px;
}
.icon-yellow svg {
  fill: var(--color-yellow);
}
.icon-blue svg {
  fill: var(--color-blue);
}
.icon-dark svg {
  fill: var(--color-bg-dark);
}
.palyers_btn .active {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  background-color: var(--color-gray);
}

.board__turn {
  border-radius: 5px;
  background-color: var(--color-bg-light);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 12px;
  /* gap: 4px; */
}

.board__restart svg {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  transition: all 0.3s;
}

.board__restart:active svg {
  transform: rotate(180deg);
}

.board__body .active.shadow-blue {
  background-color: var(--color-blue);
}

.board__body .active.shadow-yellow {
  background-color: var(--color-yellow);
}
